@import "tailwindcss";


body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--primary-bg);
  color: #fff;
}

html {
  overflow-x: hidden;
}

:root {
  --primary-bg: #090908;
  --secondary-bg: #141319;
  --tertiary-bg: #17171C;
}

.sp-text {
  background-image: conic-gradient(at top, #818cf8, #6366f1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.icon {
  background-color: var(--secondary-bg);
  cursor: pointer;
  border: 1px solid var(--secondary-bg);
  border-radius: 10px;
  padding: 10px;
}